:root {
    --border-radius: 4px;
}

/*Table: highlight every other row*/
.table tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}


/*Components CSS*/
.addUserBtn {
    width: max-content;
    display: flex;
    gap: 5px;
}

.usersTable {
    border-radius: var(--border-radius) !important;
    /* overflow: hidden; */
}

.usersTableBody .td-city:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*Classes over inline CSS*/
.text-decoration-none {
    text-decoration: none !important;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.mb-2 {
    margin-bottom: 20px;
}

.p-0 {
    padding: 0 !important;
}
